*.pyc
*.bak
*.dat
*.dir
*.pyc
*~

.ipynb_checkpoints
.vscode

dist
*.egg-info
checkpoint
myvenv
__pycache__

logs/*

tf_logs/*

input/**
!input/.gitkeep

output/**
!output/.gitkeep

kernels/images/exitimg/*.png

dumped_data/**
!dumped_data/.gitkeep